<div class="row">
  <div class="col-auto">
    <h1 class="title-heading">{{#if title}}{{title}}{{else}}{{getTitle}}{{/if}}</h1>
  </div>
</div>
<form class="needs-validation" novalidate enctype="multipart/form-data" action="{{fields.type}}" method="post">
    <div class="form-group form-row">
    <div class="col">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" name="name" placeholder="Enter the {{fields.type}} name" value="{{fields.name}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} name.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.line1">Address Line 1</label>
      <input id="address.line1" class="form-control" type="text" name="address.line1" placeholder="Enter the {{fields.type}} address line 1" value="{{fields.address.line1}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} address line 1.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.line2">Address Line 2</label>
      <input id="address.line2" class="form-control" type="text" name="address.line2" placeholder="Enter the {{fields.type}} address line 2" value="{{fields.address.line2}}">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.city">City</label>
      <input id="address.city" class="form-control" type="text" name="address.city" placeholder="Enter the {{fields.type}} city" value="{{fields.address.city}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} city.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.state">State or Province</label>
      <input id="address.state" class="form-control" type="text" name="address.state" placeholder="Enter the {{fields.type}} state or province" value="{{fields.address.state}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} state or province.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.postalCode">Postal Code</label>
      <input id="address.postalCode" class="form-control" type="text" name="address.postalCode" placeholder="Enter the {{fields.type}} postal or zip code" value="{{fields.address.postalCode}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} postal or zip code.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="address.country">Country</label>
      <input id="address.country" class="form-control" type="text" name="address.country" placeholder="Enter the {{fields.type}} country" value="{{fields.address.country}}" required>
      <div class="invalid-feedback">Please enter the {{fields.type}} country.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.firstName">Contact First Name</label>
      <input id="contact.firstName" class="form-control" type="text" name="contact.firstName" placeholder="Enter the contact's first name" value="{{fields.contact.firstName}}">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.lastName">Contact Last Name</label>
      <input id="contact.lastName" class="form-control" type="text" name="contact.lastName" placeholder="Enter the contact's last name" value="{{fields.contact.lastName}}">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.email">Contact Email Address</label>
      <input id="contact.email" class="form-control" type="email" name="contact.email" placeholder="Enter the contact's email address" pattern="[\w-]+@([\w-]+\.)+[\w-]+" value="{{fields.contact.email}}">
      <div class="invalid-feedback">Please provide a valid contact email address.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.phone">Contact Phone</label>
      <input id="contact.phone" class="form-control" type="text" name="contact.phone" placeholder="Enter the contact's phone or extension" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{4})(?:[-.x ]*(\d+))?)\s*$" value="{{fields.contact.phone}}">
      <div class="invalid-feedback">Please enter the contact's phone number beginning with the area code. Use the letter "x" for the extension.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.fax">Contact Fax</label>
      <input id="contact.fax" class="form-control" type="text" name="contact.fax" placeholder="Enter the contact's fax number" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{4})(?:[-.x ]*(\d+))?)\s*$" value="{{fields.contact.fax}}">
      <div class="invalid-feedback">Please enter the contact's fax number beginning with the area code.</div>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="contact.title">Contact Title</label>
      <input id="contact.title" class="form-control" type="text" name="contact.title" placeholder="Enter the contact's position or title" value="{{fields.contact.title}}">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="notes">Notes</label>
      <textarea id="notes" class="form-control" name="notes" placeholder="Enter notes for this {{fields.type}}">{{fields.notes}}</textarea>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <label for="logo">{{capitalize fields.type}} Logo</label><br>
      {{#if fields.logo}}
        <img id="logo" class="company-logo" src="{{user.uploadsPath}}/{{fields.logo}}"/>
        <input type="hidden" name="logo" value="{{fields.logo}}"/>
        <input id="btnDeletePhoto" type="button" class="btn btn-outline-secondary" onclick="submitHidden('delete')" value="Delete"/>
      {{else}}
        <input id="logo" type="file" class="form-control-file btn btn-outline-secondary" accept="image/*" name="logo" pattern="[0-9a-zA-Z\\._-]+\\.(bmp|BMP|png|PNG|gif|GIF|jp[e]?g|JP[E]?G)"/>
        <div class="invalid-feedback">Only image (.bpm, .png, .gif, and .jpg) file types allowed.</div>
      {{/if}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
  <button class="btn btn-primary cm-hidden" id="spinner" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Saving...
  </button>
  <button type="button" class="btn btn-secondary" id="btnCancel" onclick="location.href='/'">Cancel</button>
</form>