<div class="container">

  {{> home_nav}}

  {{> messages}}

  <h1 class="pl-4 py-2 title-heading">Join {{hostName host}}</h1>

  {{> errors}}

  <div class="px-4">
    <form class="needs-validation" novalidate action="/join" method="post">
      <div class="form-group">
        <label for="profile.firstName">First Name</label>
        <input id="profile.firstName" class="form-control" type="text" name="profile.firstName" placeholder="Enter your first name"  value="{{fields.profile.firstName}}" required>
        <div class="invalid-feedback">Please enter your first name.</div>
      </div>
      <div class="form-group">
        <label for="profile.lastName">Last Name</label>
        <input id="profile.lastName" class="form-control" type="text" name="profile.lastName" placeholder="Enter your last name"  value="{{fields.profile.lastName}}" required>
        <div class="invalid-feedback">Please enter your last name.</div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Enter email" pattern="[\w-]+@([\w-]+\.)+[\w-]+" value="{{fields.email}}" required>
        <div class="invalid-feedback">Please provide a valid email address.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password" placeholder="Password" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z!\^\+\?_&@]{6,}$" value="{{fields.password}}" required>
        <div class="invalid-feedback">Please provide a password that contains at least one letter, one number, and is at least 6 characters long. !,^,+,?,_,&,@ characters are allowed.</div>
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Password Confirm</label>
        <input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm" placeholder="Confirm Password"  value="{{fields.passwordConfirm}}" required>
        <div class="invalid-feedback">Please provide a password confirmation.</div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="custom-select" name="role" required>
          <option value="" {{checkSelected fields.role ""}}>Please select one of the following...</option>
          <option value="student" {{checkSelected fields.role "student"}}>I am a student.</option>
          <option value="teacher" {{checkSelected fields.role "teacher"}}>I am a teacher.</option>
          <option value="parent" {{checkSelected fields.role "parent"}}>I am a parent.</option>
        </select>
        <div class="invalid-feedback">Please select a role.</div>
      </div>
      <div class="form-row">
        <div class="col-auto mr-auto" style="margin-bottom:15px">
          <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
          <button class="btn btn-primary cm-hidden" id="spinner" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submitting...
          </button>
        </div>
        <div class="col-auto">
          <button id="btnLogin" type="button" class="btn btn-outline-secondary" onclick="location.href='/login'">Login</button>
          <button id="btnSendActivation" type="button" class="btn btn-outline-secondary" onclick="location.href='/email/activation'">Resend Activation Link</button>
        </div>
      </div>
    </form>
  </div>

  {{> footer}}
  
</div>