<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{#if host}}{{course.name}}{{else}}Classmine{{/if}} | {{#if title}}{{title}}{{else}}{{getTitle}}{{/if}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/jquery.min.js"></script>
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/classmine.css">
  {{#if host}}
    <link rel="stylesheet" href="{{domain.uploadsPath}}/course.css">
  {{else}}
    {{#if styled}}
      <link rel="stylesheet" href="{{view.uploadsPath}}/course.css">
    {{/if}}
  {{/if}}
</head>

<body>
  
  {{{body}}}

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <script src="/js/classmine.js"></script>
</body>

</html>