<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{#if host}}{{user.fullName}}{{else}}Bordermine{{/if}} | {{#if title}}{{title}}{{else}}{{getTitle}}{{/if}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/jquery.min.js"></script>
  <link rel='stylesheet' href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/sprite.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  {{> favicons }}
</head>

<body>
  {{> dash_nav_top }}

  <div class="main container-fluid no-gutters">
    <div class="row">
      <div class="col-auto d-none d-sm-block" style="margin-left:0;padding-left:0;z-index:999">
        {{#if dashbar}}
          <div id="dashbarSide" class="bg-dark rounded-right mine-dashbar-side">
            {{> dashbar_side}}
          </div>
        {{/if}}
      </div>
      <div class="col">
        {{> messages}}
        {{> errors}}
        {{{body}}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{> footer}}
      </div>
    </div>
  </div>

  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/site.js"></script>
</body>

</html>