<div class="container view-course">
  
	{{> course_nav}}

	{{> messages}}
	{{> errors}}
	
  <div class="px-4 pt-2 view-course-content">
    <div class="row">
      {{#if course.icon}}
        <div class="col-sm-3">
          <img class="course-icon view-course-icon" src="{{view.uploadsPath}}/{{course.icon}}">
        </div>
      {{/if}}
      <div class="col-auto">
        <h1 class="title-heading">About {{course.name}}</h1>
      </div>
      <div class="col mt-2 text-right">
        {{#if viewerIsOwner}}
          <button type="button" class="btn btn-outline-secondary" onclick="location.href='{{user.editPath}}/course/{{course.id}}/info'">Edit View</button>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-sm-3">
            <h3>Name:</h3>
          </div>
          <div class="col-auto">
            <h3>{{question course.name}}</h3>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h3>Description:</h3>
          </div>
          <div class="col-auto">
            <h3>{{question course.description}}</h3>
          </div>
          <div class="col"></div>
        </div>
        {{#if course.objectives }}
          <div class="row cm-view-course-objectives">
            <div class="col-sm-3">
              <h3>Objectives:</h3>
            </div>
            <div class="col-auto">
              <ul>
              {{#each course.objectives}}
                <li>{{#if this.code}}{{this.code}} : {{/if}}{{this.text}}</li>
              {{/each}}
              </ul>
            </div>
            <div class="col mt-2 text-right">
              {{#if viewerIsOwner}}
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='{{user.editPath}}/course/{{course.id}}/objectives'">Edit View</button>
              {{/if}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

	{{> footer}}
	
</div>