<nav class="sidebar bg-dark rounded-right">
  <ul id="sidebar" class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{{home}}">
        {{icon "fa-home"}}<span class="hide ml-2">Home</span>
      </a>
    </li>
    {{#if sidebar.manifests}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#manifests-menu">
          {{icon "fa-clipboard-list"}}<span class="hide ml-2">Manifest</span>
        </a>
        <div id="#manifests-menu" class="sub-menu collapse {{getMenuShow "manifest" path}}"  data-parent="#sidebar" aria-expanded="false">
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="manifests"><span class="hide">View All</span>{{icon "fa-list"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="manifest"><span class="hide">Add New</span>{{icon "fa-plus"}}</a>
            </li>
          </ul>
        </div>
      </li>
    {{/if}}
    {{#if sidebar.exporters}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#exporters-menu">
          {{icon "fa-share-square"}}<span class="hide">Exporters</span>
        </a>
        <div id="#exporters-menu" class="sub-menu collapse {{getMenuShow "exporter" path}}" data-parent="#sidebar" aria-expanded="false">
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="exporters"><span class="hide">View All</span>{{icon "fa-list"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="exporter"><span class="hide">Add New</span>{{icon "fa-plus"}}</a>
            </li>
          </ul>
        </div>
      </li>
    {{/if}}
    {{#if sidebar.consignees}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#consignees-menu">
          {{icon "fa-handshake"}}<span class="hide">Consignees</span>
        </a>
        <div id="consignees-menu" class="sub-menu collapse {{getMenuShow "consignee" path}}" data-parent="#sidebar" aria-expanded="false">
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="consignees"><span class="hide">View All</span>{{icon "fa-list"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="consignee"><span class="hide">Add New</span>{{icon "fa-plus"}}</a>
            </li>
          </ul>
        </div>
      </li>
    {{/if}}
    {{#if sidebar.shippers}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#shippers-menu">
          {{icon "fa-truck-moving"}}<span class="hide">Shippers</span>
        </a>
        <div id="shippers-menu" class="sub-menu collapse {{getMenuShow "shipper" path}}" data-parent="#sidebar" aria-expanded="false">
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="shippers"><span class="hide">View All</span>{{icon "fa-list"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shipper"><span class="hide">Add New</span>{{icon "fa-plus"}}</a>
            </li>
          </ul>
        </div>
      </li>
    {{/if}}
    {{#if sidebar.users}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#users-menu">
          {{icon "fa-users"}}<span class="hide">Users</span>
        </a>
        <div id="users-menu" class="sub-menu collapse {{getMenuShow "user" path}}" data-parent="#sidebar" aria-expanded="false">
          <ul class="nav flex-column ml-3">
            <li class="nav-item">
              <a class="nav-link" href="users"><span class="hide">View All</span>{{icon "fa-list"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user"><span class="hide">Add New</span>{{icon "fa-plus"}}</a>
            </li>
          </ul>
        </div>
      </li>
    {{/if}}
    {{#if sidebar.settings}}
      <li class="nav-item">
        <a class="nav-link" href="settings">
          {{icon "fa-cog"}}<span class="hide">Settings</span>
        </a>
      </li>
    {{/if}}
    <li class="nav-item">
      <a id="btnCollapse" class="nav-link btn-expand-collapse hide">{{icon "arrow-left-alt"}}</a>
      <a id="btnExpand" class="nav-link btn-expand-collapse hide hidden">{{icon "arrow-right-alt"}}</a>
    </li>
  </ul>
</nav>